

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

h1,h2,h3 { 
	font-family:'Georgia', Times, Times New Roman, serif;
    font-weight: 600;
}

h1 {
	word-spacing: 3px;
    letter-spacing: 1px;
    color: #ffffff;
}

h2 {
	font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: #4aaaa5;
}

h3 { 
    font-size: 20px;;
    color: #4aaaa5;
 }

 .nav-name-container {
    position: relative;
    left: 116px;
    width: 250px;
    background-color: #4aaaa5;
   
} 

.nav-links{
    position: relative;
    right: 100px;
}

#photo-perfil {
    height: 200px;
    /* float: left; */
}

.bio-paragraph {
    text-align: justify;
    padding-left:250px;
}

.social-media img{
    height: 60px;
}

.social-media a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0e0101;
  }