

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
    background-image: url(../images/concrete.png)
}

/* Fonts Specification*/

h1,h2,h3 { 
	font-family:'Georgia', Times, Times New Roman, serif;
    font-weight: 600;
}

h1 {
    font-size: 32px;
	word-spacing: 3px;
    letter-spacing: 1px;
    color: #ffffff;
}

h2 {
	font-size: 27px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: #4aaaa5;
}

h3 { 
    font-size: 24px;;
    color: #4aaaa5;
 }

 p,
 li,
 a, 
 label, 
 textarea, 
 input {
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     font-size: 18px;
     line-height: 145%; 
 } 

 label, 
 textarea, 
 input { color: #CCCCCC;} 

 p,
 li { color: #777777;} 

 /* Nav Bar */

.nav-name-container {
    position: relative;
    left: 116px;
    width: 250px;
    background-color: #4aaaa5;  
} 

.nav-links{
    position: relative;
    right: 200px;
}

/* Bio Section */

#photo-perfil { height: 200px;}

.bio p { text-align: justify; }

/* Aside Contact */

.social-media img{
    height: 70px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.social-media a { text-decoration: none; }

/* Portfolio Section */

.portfolio-img { 
    background-image: url(../images/portfolio.jpg);
    height: 200px;
    width: 270px;
    padding: 0;
    /* margin: 0 10px; */
 }

.portfolio-img a {
    text-decoration: none;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    border-radius: 0;
    margin-top: 145px;
} 

/* Contact Section */

.my-btn{
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 0;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
  }

footer p {
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
}

/* Queries */

@media only screen and (max-width: 850px) {
    .nav-name-container {
        left:1px;
    }

    .nav-links { position: static;}

    .nav-links li{
        display: inline-block;
        margin-left: 2px;
    }
}