
 .nav-name-container {
    position: relative;
    left: 135px;
    width: 150px;
    background-color: #aa804a;
} 

.nav-name {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-left: 25px;
}

.nav-links {
    position: relative;
    right: 100px;
}

#photo-perfil {
    height: 150px;

}